* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
.clock {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: #fff;
    border: 7px solid rgb(161, 161, 161);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.clock .top {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.clock .right {
    position: absolute;
    width: 8px;
    height: 3px;
    background-color: #262626;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}
.clock .bottom {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: #262626;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.clock .left {
    position: absolute;
    width: 8px;
    height: 3px;
    background-color: #262626;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
}
.clock .center {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: #262626;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.clock .hour {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 60s infinite linear;
}
.clock .hour:before {
    content: "";
    background-color: #262626;
    height: 60px;
    width: 3px;
    position: absolute;
    top: 30px;
}
.clock .minute {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 5s infinite linear;
}
.clock .minute::before {
    content: "";
    position: absolute;
    background-color: #262626;
    height: 40px;
    width: 1px;
    top: 50px;
}
@keyframes time {
    to {
        transform: rotate(360deg);
    }
}