* {
    padding: 0;
    margin: 0;
}
.wrapper {
    height: 100vh;
}
.block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__01 {
    height: 200px;
    width: 500px;
    background-color: rgb(57, 93, 252);
    position: relative;
    z-index: 3;
    transition: all 0.3s ease 0s;

}
.block__text {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.block__02 {
    position: relative;
    z-index: 3;
    height: 200px;
    width: 500px;
    background-color: rgb(57, 93, 252);
    transition: all 0.3s ease 0s;
}
.block__body:hover .block__01{
    transform: perspective(500px) rotateY(50deg);
}
.block__body:hover .block__02{
    transform: perspective(500px) rotateY(-50deg);

}