* {
    padding: 0;
    margin: 0;
}
.wrapper {
    height: 100vh;
}
.main__block {
    height: 100%;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.block__body {
    position: relative;
}
.block__image {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
.block__body:hover .block__image:nth-child(4) {
    top: -100px;
    left: 150px;
    transition-delay: 0.9s;
}
.block__body:hover .block__image:nth-child(3) {
    top: -120px;
    left: 50px;
    transition-delay: 0.6s;
}
.block__body:hover .block__image:nth-child(2) {
    top: -130px;
    left: -50px;
    transition-delay: 0.3s;
}
.block__body:hover .block__image:nth-child(1) {
    top: -100px;
    left: -150px;
}