.block__body {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 18px;
}
.block__list {
    list-style-type: none;
    counter-reset: number 0;
}
.list__item:not(:last-child) {
    margin-bottom: 15px;
    margin-top: 15px;
}
.list__item::before {
    content: counters(number, ".") ;
    counter-increment: number;
    margin-right: 10px;
    font-weight: 600;
    padding: 5px;
}
.list > .list__item::before {
    background-color: green;
}
.list > .list__item:nth-child(2)::before  {
    background-color: yellow;
}
.block__2 {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
}
.block__2__list {
    list-style-type: none;
    counter-reset: number3 0;
}
.list__2 {
    display: flex;
    column-gap: 50px;
}
.list__2__item {
    position: relative;
}
.list__2__item:not(:last-child) {
    margin-bottom: 30px;
    margin-top: 30px;
}
.list__2__item:before {
    content: counter(number3) ".";
    counter-increment: number3;
    margin-right: 10px;
    font-weight: 600;
    padding: 10px 12px;
    background-color: Aquamarine;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.list__2__item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color:#b1b1b1;
    top: 34px;
    left: 0;

}
